@import "../App.scss";
@import "../Vars.scss";
@import "../Media.scss";

.content {
    background-image: url(../../static/mfrBanner.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
}
.form {
    display: flex;
    height: auto;
    margin: auto;
}
.form__content {
    max-width: 600px;
    padding: 50px;
    margin: 100px 60px;
    background-color: #f2f2f229;
    & h3{
        margin: 20px auto;
        font-size: 2.5rem;
        text-align: start;
        color: $main-color;
    }
}
.form__content input {
    display: block;
    width: 100%;
    margin: 20px auto;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid$main-color;
    background-color: #F5F5F5;
    box-sizing: border-box;
}
.form__content span {
    font-size: 2rem;
    font-weight: bold;
    color: $second-color;
}
.form__content--message textarea {
    width: 100%;
    height: 90px;
    padding: 7px;
    line-height: 14px;
    border: 2px solid$main-color;
}
.form_content--buttom input {
    color: $white-color;
    font-weight: bold;
    font-size: 1.6rem;
    border: 2px solid $white-color;
    background-color: $main-color;
    letter-spacing: 1px;
    cursor: pointer;
}
.form_content--buttom:hover input{
    color: $main-color;
    background-color: $white-color;
    border: 2px solid $main-color;
}