@import "../App.scss";
@import "../Vars.scss";
@import "../Media.scss";
@import "../Mixins.scss";

.listing {
    display: grid;
    place-content: center;
    margin: 30px auto;
    & h3 {
        margin: 0 auto;
        font-size: 2.6rem;
        color: $black-color
    }
    & p {
        margin: 10px auto;
        font-size: 1.2rem;
    }
}
.listing--title{
    display: grid;
    place-content: center;
    margin: 10px auto;
}
.listing--title p {
    width: 78%;
    margin: 20px auto;
    font-size: 1.7rem;
}
.listing--buttom {
    display: flex;
    width: 200px;
    text-align: center;
    justify-content: center;
    padding: 7px;
    @include primaryButtom;
    box-shadow: 0 0 40px 40px $main-color inset, 0 0 0 0 $main-color;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.listing--buttom:hover {
    color: $main-color;
    box-shadow: 0 0 10px 0 $white-color inset, 0 0 10px 4px $white-color;
}