@import "../App.scss";
@import "../Vars.scss";
@import "../Media.scss";

.content {
    background-image: url(../../static/mfrBanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.form {
    display: flex;
    height: 80vh;
    margin: auto;
}
.form__content {
    max-width: 600px;
    padding: 50px;
    margin: 100px 60px;
    background-color: #f2f2f229;
    & h3{
        margin: 20px auto;
        font-size: 2.5rem;
        text-align: start;
        color: $main-color;
    }
}
.form__content input {
    display: block;
    width: 100%;
    margin: 20px auto;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid$main-color;
    background-color: #F5F5F5;
    box-sizing: border-box;
}
.form__content--message input {
    width: 100%;
    padding: 40px;
    line-height: 14px;
}
.form_content--buttom input {
    color: $white-color;
    font-size: 1.6rem;
    border: 2px solid $white-color;
    background-color: $main-color;
    cursor: pointer;
}