@import "../App.scss";
@import "../Vars.scss";
@import "../Media.scss";
@import "../Mixins.scss";

.newletter__container {
    min-width: 50px;
    min-height: 60px;
    & h5 {
        margin: 10px auto 0 auto;
        font-size: 1.3rem;
    }
    & input {
        display: block;
        width: 100%;
        margin: 10px auto;
        padding: 7px 10px;
        border-radius: 5px;
        border: none;
        background-color: $white-background;
        box-sizing: border-box;
    }
    & button {
        min-width: 150px;
        height: 30px;
        color: $main-color;
        font-weight: bold;
        font-size: 1.2rem;
        border: none;
        background-color: $white-color;
        letter-spacing: 1px;
        cursor: pointer;
    }
}