@import "../App.scss";
@import "../Vars.scss";
@import "../Media.scss";

.rent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    place-content: center;
    margin: 20px auto;
}
.rent__cart {
    max-height: 400px;
    margin: 20px auto;
    padding: 0 15px;
    border-radius: 15px;
    & a {
        text-decoration: none;
        color: $black-color;
    }
}
.rent--image img {
    width: 330px;
    height: 250px;
    margin: 0 auto;
    border-radius: 15px;
}
.rent__container {
    display: grid;
    grid-template-rows: 3;
    max-width: 250px;
    & h4 {
        width: 300px;
        margin: 5px 0;
        font-size: 2rem;
        color: $black-color;
    }
    & p {
        font-size: 1.2rem;
        margin: 5px auto;
    }
    & span {
        margin: 5 auto;
        font-size: 1.4rem;
        font-weight: bold;
        color: $main-color;
    }
}
.rent__icons {
    display: flex;
    justify-content: space-around;
    & img{
        width: 20px;
        height: auto;
        margin: 0 7px;
    }
    & p {
        align-items: center;
        margin: 0 auto;
    }
}
