@mixin title {
        position: relative;
        font-size: 2em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        text-decoration: none;
}
@mixin card {
        padding: 48px 32px 32px 32px;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 8px;
}
@mixin primaryButtom {
        margin: 0 auto;
        font-size: 1.6rem;
        font-weight: bold;
        border-style: none;
        letter-spacing: 2px;
        border-radius: 50px;
        color: $white-color;
}
