@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

$theme-font:'Roboto', sans-serif;
$main-color:#d8a6cb ;
$second-color: #c59dce;
$third-color:  #9996cb;
$call-to-action: #efc66a;
$blue-color:#82ccf1;
$black-color: #141414;
$white-color: #f2f2f2